include README AUTHORS NEWS ChangeLog COPYING INSTALL
include *.py
include virtinst/*.py
include virtinst/*.in
include tests/*.xml
include tests/*.py
include virt-install
include virt-clone
include virt-image
include autobuild.sh
include doc/*
include man/*/*.1
include man/*/*.5
include man/*/*.pod
include po/*.po
include po/*.pot
