include README AUTHORS NEWS ChangeLog COPYING INSTALL
include *.py
include virtinst/*.py
include virtinst/*.in
include virtconv/*.py
include virtconv/parsers/*.py
include tests/*.py
include tests/capabilities-xml/*
include tests/image-xml/*
include tests/xmlconfig-xml/*
include tests/virtconv-files/*
include virt-install
include virt-clone
include virt-image
include virt-convert
include virt-pack
include autobuild.sh
include doc/*
include man/*/*.1
include man/*/*.5
include man/*/*.pod
include po/*.po
include po/*.pot
